.Mainbody {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
path.path {
  fill: none;
  stroke: hsl(60, 20%, 50%);
  stroke-width: 10px;
  stroke-opacity: 0.5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 10000;
  stroke-dashoffset: -10000;
  /* animation-delay: 1s;
  animation-duration: ;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; */
  /* animation: firstAnimation 2s infinite;
  animation: name duration timing-function delay iteration-count direction fill-mode; */
}

g.hexagon {
  fill: hsl(60, 10%, 95%);
}

g.visited {
  /* fill: hsl(200, 10%, 90%); */
  fill: hsl(200, 50%, 80%);
  transition: fill 0.3s;
}

g.origin {
  fill: hsl(60, 100%, 50%);
  animation: fill 10;
}

g.target {
  fill: hsl(200, 50%, 80%);
}

g.wall {
  fill: hsl(0, 20%, 70%);
}

@keyframes isVisited {
  from {
    fill: hsl(60, 10%, 95%);
  }

  to {
    fill: hsl(200, 10%, 90%);
  }
}

@keyframes pathAnimation {
  0% {
    stroke-dashoffset: -10000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.Legends {
  display: flex;
}

.Legends .withMargin {
  margin-right: 20px;
}
